# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env/

# Database
*.sqlite3
*.db
*.db.sqlite3

# Log files
*.log

# Temporary files
*.tmp

# Environment variables
.env
